/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
    scroll-behavior: smooth;
}

@font-face {
    font-family: Anta;
    src: url(../assets/fonts/Anta-Regular.ttf);
}

h1,h2,h3,h4,h5,h6,footer{
    font-family: Anta;
}

body {
    background: #06022b;
    color: aliceblue;
}
a{
    color: aliceblue;
}

/*INDEX*/

/* ---NAV--- */
/* header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 20;
}
marquee{
    background-color: #070325;
}
marquee span{
    margin: 0 3rem;
}
.nav {
    background-color: #0a043e;
    display: flex;
    width: 100%;
    height: 80px;
    padding: 1rem;
    justify-content: space-between;
}
header .nav__ul li {
    margin: 0 10px;
    display: inline-block;
    padding: 14px;
    position: relative;
}
.nav__ul a{
    font-size: 20px;
}
.nav a:hover{
    color: #88f;;
}
.nav .nav__ul li::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: whitesmoke;
    transition: all 0.3s ease-in-out;
}

.nav .nav__ul li:hover::after{
    width: 100%;

} 

.nav__ruitz img{
    height: 100%;
}  */



h1,h2,h3,h4,h5,h6,footer{
    font-family: Anta;
}

body {
    background: #06022b;
    color: aliceblue;
}
a{
    color: aliceblue;
}

/*INDEX*/

/* ---NAV--- */
header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 20;
}
marquee{
    background-color: #070325;
}
marquee span{
    margin: 0 3rem;
}
.nav {
    background-color: #0a043e;
    color: aliceblue;
}

.navbar-nav a {
    position: relative;
    color: aliceblue;
    font-size: 20px;
}
.navbar-nav a:hover{
    color: #88f;;
}
.navbar-nav a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: whitesmoke;
    transition: all 0.3s ease-in-out;
}

.navbar-nav a:hover::after{
    width: 100%;
} 

.img-nav{
    height: 60px;
} 




/* ---SECTION HOME--- */

.carrusel{
    height: 100%;
    width: 100%;
    padding-bottom: 6rem ;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    grid-row: 1/3;
    grid-column: 1/2;
}
.carrusel ul{
    width: 300%;
    height: 100%;
    display: flex;
    animation: carrusel 16s infinite alternate ease-in-out;
}
.carrusel li{
    width: 100%;

}
.carrusel li img{
    width: 100%;
}
.section__home h1{ 
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: center;
    z-index: 10;
    align-self: center;
    height: 100%;
    padding: 5%;
}
.section__home h1 img{
    filter: drop-shadow(10px 10px 5px #000);
    height: 100%;
}
.section__home {
    overflow: hidden;
    height: 60dvh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;


}

@keyframes carrusel {
    0% {margin-left: 0;}
    30% {margin-left: 0;}

    35% {margin-left: -100%;}
    65% {margin-left: -100%;}

    70% {margin-left: -200%;}
    100% {margin-left: -200%;}
}

/* ---SECTION PRODUCTOS--- */
.section__products h2 {
    text-align: center;
    margin: 2rem 0;
    font-size: 44px;
}
.section__products p{
    text-align: center;
    font-size: 20px;
}
.section__products article{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 6rem;
    justify-items: center;
}
.section__products img{
    grid-column: 1/2;
    border: #fff solid 2px;
    border-radius: 10%;
    padding: 3rem;
    height: 40rem;
}

.section__products div{
    margin: 2rem;
    grid-column: 2/3;
    align-self: center;
    padding: 2rem;
}
.section__products .products__buzo--img{
    grid-column: 2/3;
    grid-row: 1/2;
}
.section__products .products__buzo--div{
    grid-column: 1/2;
}
.section__products article p{
    padding: 1rem 0;
    font-size: 18px;
    text-align: left;
}
.section__products article h3{
    font-size: 28px;
}
.section__products article span{
    color: #a29;
}

@media (min-width: 768px) and (max-width: 1024px){
    .section__products article{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        padding: 1rem;
        align-items: center;
    }
    .section__products div{
        grid-column: 1/2;
        grid-row: 2/3;
        margin: 0;
        padding: 0;
        width: 70dvw;
    }
    .section__products article .products__buzo--img{
        grid-column: 1/2;
    }
    .section__products img{
        height: 50dvh;
    }
}
@media (max-width:440px){
    .section__products article{
        padding: .2rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;

    }
    .section__products .products__buzo--img , .section__products article a{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .section__products .products__buzo--div , .section__products article div{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .section__products img{
        height: 70dvw;
    }

}


/* ---SECTION LOACION--- */
.section__location h2 {
    font-size: 44px;
}
.section__location iframe{
    text-align: center;
    width: 100%;
    padding: 2px;
    border-radius: 1rem;
    border: #fff solid 1px;

}
.section__location p{
    text-align: end;
    width: 60%;
    font-size: 12px;
}
.section__location a{
    color: #a29;
}
/* ---SECTION QUIENES SOMOS--- */
.section__nosotros h2{
    text-align: center;
    font-size: 44px;
}
.section__nosotros ul {
    text-align: center;
    padding: 1rem;
}
.section__nosotros li {
    display: inline-block;
    padding: 5px;
    margin: 0, 1rem;
}
.section__nosotros img{
    height: 7rem;
    width: 7rem;
    border-radius: 40px;
    border: #fff solid 2px;
} 

/* ---FOOTER--- */
footer{
    padding-top: 4rem;
}
footer div {
    border-radius: 20px;
    border: #fff solid 1px;
    display: grid;
    grid-template-columns: 1fr 10rem 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "nosotros nav location"
    ;
    justify-items: center;
    align-items: center;
    margin-bottom: 2rem;
}
.section__nosotros{
    grid-area: nosotros;
}
.section__location{
    padding: 2rem;
    grid-area: location;
}
footer .nav__ul{
    grid-area: nav;
    
}
footer li{
    list-style-type:circle;
}
footer p{
    width: 100%;
    background-color: #0a043e;
    text-align: center;
    grid-area: parrafo;
}

@media (min-width: 768px) and (max-width: 1024px){
    footer div{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2 ,1fr);
        grid-template-areas: 
        "nosotros nosotros nav"
        "location location location"
        ;
    }
    .section__location{
        padding: 0;
    }
}
@media (max-width:440px){
    footer div{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .section__location{
        grid-row: 2/3;
        grid-column: 1/4;
    }
    .section__nosotros{
        grid-row: 1/2;
        grid-column: 1/3;
    }
    footer .nav__ul{
        grid-row: 1/2;
        grid-column: 3/4;
    }
    .section__nosotros img{
        height: 4rem;
        width: 4rem;
    }
    .section__nosotros h2, .section__location h2 {
        font-size: 26px;
        text-align: center;
    }
}




/*PRODUCTS*/

.products{
    background: #06022b;
}
.products__title{
    padding: 2rem;
    font-size: 60px;
    text-align: center;
}
.products__filter--div{
    text-align: end;
}
.products__filter{
    margin: 1rem 2rem;
    padding: 0 3rem;
    background-color: #222222;
    color: aliceblue;
    border: #fff solid 1px;
    border-radius: 5px;
}
.products__container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    justify-content: center;
}
.products__child{
    background-color: #000;
    text-align: center;
    padding: 1rem;
    border: #fff solid 1px;
    border-radius: 20px;
    margin: 1rem;
}
.products__child h3{
    padding: 1rem;
    font-size: 26px;
}
.products__child p{
    padding: 1rem;
    color: aquamarine;
}







/*WHOWEARE*/

.whoWeAre{
    background: linear-gradient(to bottom, #050124, #06022b);
}
.whoWeAre h1{
    background-color:#050124;
    padding: 2rem;
    font-size: 60px;
    text-align: center;
}
.whoWeAre article{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 6rem;
    justify-items: center;
}
.whoWeAre img{
    background-color: #000;
    grid-column: 1/2;
    border: #fff solid 2px;
    border-radius: 10%;
    padding: 3rem;
    height: 32rem;
}
.whoWeAre div{
    grid-column: 2/3;
    align-self: center;
    padding: 3rem;
}
.whoWeAre h2{
    margin-bottom: 1rem;
}
.whoWeAre .whoWeAre__2--img{
    grid-column: 2/3;
    
}
.whoWeAre .whoWeAre__2--texto{
    grid-column: 1/2;
    grid-row: 1/2;
}
.whoWeAre p{
    font-size: 18px;
}
@media (min-width: 768px) and (max-width: 820px){
    .whoWeAre article{
        padding: 3rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2 ,1fr);
        ;
    }
    .whoWeAre img, .whoWeAre .whoWeAre__2--img{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .whoWeAre div, .whoWeAre .whoWeAre__2--texto{
        grid-row: 2/3;
        grid-column: 1/2;
    }
}
@media (max-width:440px){
    .whoWeAre img, .whoWeAre .whoWeAre__2--img{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .whoWeAre div, .whoWeAre .whoWeAre__2--texto{
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .whoWeAre img{
        width: 100dvw;
        height: auto;
    }
    .whoWeAre article{
        width: 100%;
        padding: 1rem 0;
        
    }
}




/*PRODUCT*/
.product{
    text-align: center;
    background: #06022b ;
}
.product h1{
    padding-top: 2rem;
    font-size: 48px;
}
.product article{
    background-color: #000;
    border: #fff solid 1px;
    border-radius: 20px;
    margin: 4rem;
    padding: 4rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.product img{
    margin: 2rem;
    height: 25rem;
}
.product p{
    display: inline-block;
    width: 500px;
    padding: 1rem;
    font-size: 18px;
}
.product__body--contact{
    display: inline-block;
    border: #fff solid 1px;
    padding: 1rem;
    font-size: 22px;
    border-radius: 1rem;
    width: 15rem;
}
@media (max-width:440px){
    .product img{
        margin: 0;
        height: 40dvh;
    }
    .product h1{
        font-size: 30px;
        padding: 1rem 0;
    }
    .product article{
        margin: 1rem 0;
        width: 100dvw;
    }
    .product__body--contact{
        margin-top: 2rem ;
    }
}



/*CONTACT*/
.contact input,.contact textarea{
    width: 100%;
    margin: 1rem;
}
.contact label{
    margin: 1rem
}
.contact h1{
    text-align: center;
    padding: 4rem;
    font-size: 48px;
}
.contact__form {
    background-color: #000;
    margin: 0 30rem 6rem;
    padding: 6rem;
    border: #fff solid 1px;
    border-radius: 1rem;
}

.contact .send{
    padding: 1rem 8rem;
    background-color: #000;
    border: #fff solid 1px;
    border-radius: 1rem;
    color: aliceblue;
    margin-top: 2rem;
}