.whoWeAre{
    background: linear-gradient(to bottom, #050124, #06022b);

    h1{
        background-color:#050124;
        padding: 2rem;
        font-size: 60px;
        text-align: center;
    }

    article{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 6rem;
        justify-items: center;

        img{
            background-color: #000;
            grid-column: 1/2;
            border: #fff solid 2px;
            border-radius: 10%;
            padding: 3rem;
            height: 32rem;

            @media (min-width: 768px) and (max-width: 820px){
                grid-row: 1/2;
                grid-column: 1/2;
            }
            @media (max-width:440px){
                grid-row: 1/2;
                grid-column: 1/2;
                width: 100dvw;
                height: auto;
            }
        }

        div{
            grid-column: 2/3;
            align-self: center;
            padding: 3rem;

            h2{
                margin-bottom: 1rem;
            }
            p{
                font-size: 18px;
            }

            @media (min-width: 768px) and (max-width: 820px){
                grid-row: 2/3;
                grid-column: 1/2;
            }

            @media (max-width:440px){
                grid-row: 2/3;
                grid-column: 1/2;
            }
        }

        .whoWeAre__2--img{
            grid-column: 2/3;

            @media (min-width: 768px) and (max-width: 820px){
                grid-row: 1/2;
                grid-column: 1/2;
            }

            @media (max-width:440px){
                grid-row: 1/2;
                grid-column: 1/2;
            }
        }

        .whoWeAre__2--texto{
            grid-column: 1/2;
            grid-row: 1/2;

            @media (min-width: 768px) and (max-width: 820px){
                grid-row: 2/3;
                grid-column: 1/2;
            }
            @media (max-width:440px){
                grid-row: 2/3;
                grid-column: 1/2;
            }
        }

        @media (min-width: 768px) and (max-width: 820px){
            padding: 3rem;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2 ,1fr);
        }

        @media (max-width:440px){
            width: 100%;
            padding: 1rem 0;
        }

    }
}
